@import "tailwindcss";

:root {
  --blue-gray-600: #475569;
  --blue-gray-900: #0F172A;
  --orange-600: #EA580C;
  --blue-600: #2563EB;
}

body {
  color: var(--blue-gray-900);
  font-family: var(--font-roboto);
}

button {
  cursor: pointer;
}