@import "tailwindcss";

:root {
  --blue-gray-100: #f1f5f9;
  --blue-gray-600: #475569;
  --blue-gray-900: #0f172a;
  --orange-600: #ea580c;
  --blue-600: #2563eb;
}

body {
  color: var(--blue-gray-900);
  font-family: var(--font-roboto);
}

button {
  cursor: pointer;
}

.home-container {
  @apply w-full max-w-[1450px] mx-auto px-4 lg:px-20;
}
